@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');
:root{
    --branco: #F5FFFA;
    --cor-de-fundo: #B0E0E6;
    --fundo-senha: #E0FFFF;
    --fundo-texto: #F0FFFF;
    --borda: #00BFFF;
    --roboto: 'Roboto' , sans-serif;
    --roboto-mono: 'Roboto Mono' , monospace;
}
*{
    font-weight: 400;
}
body{
    color var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
}
.titulo-principal{
    font-family: var(--roboto-mono);
    font-size: 32px;
}
.titulo-secundario{
    font-size: 24px;
}

.conteudo-titulo{
    text-align: center;
}